<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.planup" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.planup.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.planup.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName="in.planup.activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.planup.activities.LoginActivity" />
        </activity>
        <activity
            android:name="in.planup.activities.EventCreateActivity"
            android:label="@string/title_activity_event_create"
            android:parentActivityName="in.planup.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.planup.activities.HomeActivity" />
        </activity>
        <activity
            android:name="in.planup.activities.EventDashboardActivity"
            android:label="@string/title_activity_event_dashboard"
            android:parentActivityName="in.planup.activities.EventCreateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.planup.activities.EventCreateActivity" />
        </activity>
    </application>

</manifest>
